venv
.venv
data/
__pycache__
*/__pycache__
**/__pycache__
chroma_db/
.idea/
app/*
storageContext/
cache
models/

# IDE / Editor
.vscode/

# Egg info
*.egg-info/
cutie_ai.egg-info/

# OS files
Thumbs.db
.DS_Store

# Environment
.env
*.pyc

dataset.json
