.git
venv
.venv
.venv/
data/
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
chroma_db/
chroma_db
.idea/
.vscode/
app/*
storageContext/
storageContext
cache/
cache
models/
models
*.log
.DS_Store